.footer{
    margin-top: 50px;
    background-color: black;
    color: white;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.f-1{
    background-color: black;
    color: white;
    border: 2px solid white;
    border-radius: 10px;
}
.f-1 a{
    color: white;
    text-decoration: none;
}
.footer ul li{
    list-style: none;
    letter-spacing: 2px;
    padding-top: 5px;
}

.footer button{
    position: relative;
    top: 20px;
}