.p-1 img{
    filter: blur(35px);
    
}
.p-1{
    position: relative;
    padding-top: 50px;
    text-align: center;
}
.p-1 button{
    background-color: blue;
    color: white;
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 45%;
    z-index: 1;
    border: none;
}
.p-1 button:hover{
    cursor: pointer;
}
.prediction{
    text-decoration: none;
    color: black;
}
.footer ul li{
    list-style: none;
    letter-spacing: 2px;
    padding-top: 5px;
}