.hero-2 img{
    border-radius: 100%;
}
@media screen and (max-width:500px){
    .hero-2 img{
        display: none;
    }
}
.c-1{
    color: white;
    text-decoration: none;
}
.hero-image{
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 50px;
}
.hero-1{
    width: 60%;
}
.hero-1 h1{
    color: purple;
    font-size: medium;
    text-align: start;

    
}
.hero-1 button{
    background-color: black;
    color: white;
    border: none;
    font-size: medium;
    width: 100px;
    padding: 5px;
    border-radius: 20px;
    position: relative;
    left: 20px;
}
.intro-1{
    font-size: xx-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.intro-p-1{
        font-size: x-large;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.intro-2{
    font-size: medium;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
    left: 20px;

}